<style>
  /* This fixes a bug in Semantic UI on iOS that breaks scrolling back to
   * the top by tapping the status bar.
   * https://github.com/Semantic-Org/Semantic-UI/issues/1985#issuecomment-110051913
   */
  html, body {
    height: initial;
    /* added */
    scroll-behavior: smooth;
  }

  .skip a{
    background: white;
    right: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:focus, .skip a:active{
    top:0;
    width: 150px;
  }

  :focus, .ui.button:focus{
    border: 2px solid black;
  }

  /* Increased specificity to override SemanticUI styles on mobile. */
  .container .april-fools.april-fools.april-fools-hidden.april-fools-hidden {
    display: none !important;
  }

  .ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
    /* push left */
    -webkit-transform: translate3d(110.328125px, 0, 0);
    transform: translate3d(110.328125px, 0, 0);
  }

  /* descriptive text for screen readers */
  .hidden-txt {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .ui.sticky {
    /* margin: 20px auto auto auto; */

    width: 100px;
    height: 100px;
    right:0px !important;
    left:auto !important;
  }

  .ui.header {
    visibility: hidden !important;
  }

  /* smaller screens  */
  @media screen and (max-width:700px) {
    .nav-icons {
      display:none !important;
    }

  }



  @media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    right: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
    width:150px;
  }

</style>
